@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'mixins';
@import 'navbar';
@import 'masthead';
@import 'buttons';
@import 'about';
@import 'projects';
@import 'contact';
@import 'map';

body {
  font-family: $font-family-base;
  letter-spacing: 0.075rem;
  &.landing {
    @import 'landing';
  }
}

.bg-black {
  background-color: $black !important;
}
.bg-brown {
  background-color: $brown !important;
}

.bg-primary {
  background-color: $primary !important;
}

h3 {
  font-size: 22.5px;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}
